.home {
  position: fixed;
  top: 1vw;
  left: 1vw;
  font-size: calc(2vw + 2vh + 20px);
  text-shadow: 1px 1px 1px pink;
  user-select: none;
  text-decoration: none;
}

.table-of-contents {
  display: inline-block;
  text-align: left;
}

.lilith-portrait {
  width: 20vw;
  margin: auto;
  display: block;
  transform: translateX(7%);
}

img:not(.selectable) {
  user-select: none;
  pointer-events: none;
}

.table-of-contents ul {
  list-style-type: square;
  padding: inherit;
}
a {
  text-decoration: inherit;
}

.chart {
  /* padding: 1vw;
  background: white;
  margin: 1vw; */
}
/* @import url('https://themes.googleusercontent.com/fonts/css?kit=fvyYZ8D_r6q1snYdb-tnF85-x8zqu-667uHWljev_4A'); */

ol.lst-kix_gb58ikjti06x-8.start {
  counter-reset: lst-ctn-kix_gb58ikjti06x-8 0
}

.lst-kix_vdec2ozezoo7-7>li:before {
  content: "-  "
}

.lst-kix_vdec2ozezoo7-8>li:before {
  content: "-  "
}

ol.lst-kix_gb58ikjti06x-2.start {
  counter-reset: lst-ctn-kix_gb58ikjti06x-2 0
}

.lst-kix_gb58ikjti06x-4>li {
  counter-increment: lst-ctn-kix_gb58ikjti06x-4
}

.lst-kix_hqx8paee5ye5-8>li:before {
  content: "-  "
}

.lst-kix_hqx8paee5ye5-6>li:before {
  content: "-  "
}

.lst-kix_hqx8paee5ye5-7>li:before {
  content: "-  "
}

.lst-kix_gb58ikjti06x-2>li {
  counter-increment: lst-ctn-kix_gb58ikjti06x-2
}

ul.lst-kix_rhe48we21j2d-0 {
  list-style-type: none
}

ul.lst-kix_rhe48we21j2d-4 {
  list-style-type: none
}

ul.lst-kix_rhe48we21j2d-3 {
  list-style-type: none
}

ul.lst-kix_rhe48we21j2d-2 {
  list-style-type: none
}

ul.lst-kix_rhe48we21j2d-1 {
  list-style-type: none
}

.lst-kix_rhe48we21j2d-3>li:before {
  content: "-  "
}

.lst-kix_rhe48we21j2d-4>li:before {
  content: "-  "
}

.lst-kix_rhe48we21j2d-1>li:before {
  content: "-  "
}

.lst-kix_rhe48we21j2d-2>li:before {
  content: "-  "
}

.lst-kix_rhe48we21j2d-5>li:before {
  content: "-  "
}

.lst-kix_rhe48we21j2d-6>li:before {
  content: "-  "
}

.lst-kix_rhe48we21j2d-0>li:before {
  content: "-  "
}

.lst-kix_rhe48we21j2d-7>li:before {
  content: "-  "
}

.lst-kix_rhe48we21j2d-8>li:before {
  content: "-  "
}

ol.lst-kix_gb58ikjti06x-7.start {
  counter-reset: lst-ctn-kix_gb58ikjti06x-7 0
}

ul.lst-kix_vdec2ozezoo7-8 {
  list-style-type: none
}

.lst-kix_ruoammf9pqdl-0>li:before {
  content: "-  "
}

ul.lst-kix_vdec2ozezoo7-0 {
  list-style-type: none
}

.lst-kix_ruoammf9pqdl-2>li:before {
  content: "-  "
}

.lst-kix_gb58ikjti06x-6>li {
  counter-increment: lst-ctn-kix_gb58ikjti06x-6
}

ul.lst-kix_vdec2ozezoo7-1 {
  list-style-type: none
}

.lst-kix_gb58ikjti06x-0>li {
  counter-increment: lst-ctn-kix_gb58ikjti06x-0
}

ul.lst-kix_vdec2ozezoo7-2 {
  list-style-type: none
}

.lst-kix_ruoammf9pqdl-1>li:before {
  content: "-  "
}

.lst-kix_ruoammf9pqdl-3>li:before {
  content: "-  "
}

ul.lst-kix_vdec2ozezoo7-3 {
  list-style-type: none
}

ul.lst-kix_vdec2ozezoo7-4 {
  list-style-type: none
}

ul.lst-kix_vdec2ozezoo7-5 {
  list-style-type: none
}

ul.lst-kix_vdec2ozezoo7-6 {
  list-style-type: none
}

ul.lst-kix_vdec2ozezoo7-7 {
  list-style-type: none
}

.lst-kix_ruoammf9pqdl-6>li:before {
  content: "-  "
}

.lst-kix_ruoammf9pqdl-5>li:before {
  content: "-  "
}

.lst-kix_ruoammf9pqdl-7>li:before {
  content: "-  "
}

.lst-kix_ruoammf9pqdl-4>li:before {
  content: "-  "
}

.lst-kix_ruoammf9pqdl-8>li:before {
  content: "-  "
}

.lst-kix_kvdv62x69okq-0>li:before {
  content: "-  "
}

.lst-kix_kvdv62x69okq-2>li:before {
  content: "-  "
}

.lst-kix_kvdv62x69okq-6>li:before {
  content: "-  "
}

.lst-kix_ra4ix9ixq384-1>li:before {
  content: "-  "
}

.lst-kix_ra4ix9ixq384-3>li:before {
  content: "-  "
}

.lst-kix_kvdv62x69okq-4>li:before {
  content: "-  "
}

.lst-kix_kvdv62x69okq-8>li:before {
  content: "-  "
}

.lst-kix_ra4ix9ixq384-5>li:before {
  content: "-  "
}

.lst-kix_ho9s3sdetw6n-6>li:before {
  content: "-  "
}

.lst-kix_gb58ikjti06x-1>li:before {
  content: ""counter(lst-ctn-kix_gb58ikjti06x-1, lower-latin) ". "
}

.lst-kix_ho9s3sdetw6n-2>li:before {
  content: "-  "
}

.lst-kix_gb58ikjti06x-3>li:before {
  content: ""counter(lst-ctn-kix_gb58ikjti06x-3, decimal) ". "
}

ol.lst-kix_gb58ikjti06x-4.start {
  counter-reset: lst-ctn-kix_gb58ikjti06x-4 0
}

.lst-kix_ho9s3sdetw6n-0>li:before {
  content: "-  "
}

.lst-kix_ho9s3sdetw6n-8>li:before {
  content: "-  "
}

.lst-kix_gb58ikjti06x-7>li:before {
  content: ""counter(lst-ctn-kix_gb58ikjti06x-7, lower-latin) ". "
}

ol.lst-kix_gb58ikjti06x-1.start {
  counter-reset: lst-ctn-kix_gb58ikjti06x-1 0
}

.lst-kix_gb58ikjti06x-5>li:before {
  content: ""counter(lst-ctn-kix_gb58ikjti06x-5, lower-roman) ". "
}

.lst-kix_ho9s3sdetw6n-4>li:before {
  content: "-  "
}

ul.lst-kix_rhe48we21j2d-8 {
  list-style-type: none
}

ul.lst-kix_rhe48we21j2d-7 {
  list-style-type: none
}

ol.lst-kix_gb58ikjti06x-3.start {
  counter-reset: lst-ctn-kix_gb58ikjti06x-3 0
}

ul.lst-kix_rhe48we21j2d-6 {
  list-style-type: none
}

ul.lst-kix_rhe48we21j2d-5 {
  list-style-type: none
}

.lst-kix_hqx8paee5ye5-3>li:before {
  content: "-  "
}

.lst-kix_hqx8paee5ye5-5>li:before {
  content: "-  "
}

ul.lst-kix_ra4ix9ixq384-8 {
  list-style-type: none
}

ul.lst-kix_kvdv62x69okq-1 {
  list-style-type: none
}

ul.lst-kix_ra4ix9ixq384-7 {
  list-style-type: none
}

ul.lst-kix_kvdv62x69okq-0 {
  list-style-type: none
}

ul.lst-kix_kvdv62x69okq-5 {
  list-style-type: none
}

ul.lst-kix_kvdv62x69okq-4 {
  list-style-type: none
}

ul.lst-kix_kvdv62x69okq-3 {
  list-style-type: none
}

ul.lst-kix_kvdv62x69okq-2 {
  list-style-type: none
}

ul.lst-kix_ra4ix9ixq384-0 {
  list-style-type: none
}

ul.lst-kix_kvdv62x69okq-8 {
  list-style-type: none
}

ul.lst-kix_ra4ix9ixq384-2 {
  list-style-type: none
}

ul.lst-kix_kvdv62x69okq-7 {
  list-style-type: none
}

ul.lst-kix_ra4ix9ixq384-1 {
  list-style-type: none
}

.lst-kix_ra4ix9ixq384-7>li:before {
  content: "-  "
}

ul.lst-kix_kvdv62x69okq-6 {
  list-style-type: none
}

ul.lst-kix_ra4ix9ixq384-4 {
  list-style-type: none
}

ul.lst-kix_ra4ix9ixq384-3 {
  list-style-type: none
}

ul.lst-kix_ra4ix9ixq384-6 {
  list-style-type: none
}

ul.lst-kix_ra4ix9ixq384-5 {
  list-style-type: none
}

.lst-kix_hqx8paee5ye5-1>li:before {
  content: "-  "
}

.lst-kix_vdec2ozezoo7-1>li:before {
  content: "-  "
}

.lst-kix_vdec2ozezoo7-3>li:before {
  content: "-  "
}

.lst-kix_vdec2ozezoo7-5>li:before {
  content: "-  "
}

ol.lst-kix_gb58ikjti06x-5.start {
  counter-reset: lst-ctn-kix_gb58ikjti06x-5 0
}

.lst-kix_g6nephsj5adi-8>li:before {
  content: "-  "
}

.lst-kix_g6nephsj5adi-6>li:before {
  content: "-  "
}

.lst-kix_g6nephsj5adi-5>li:before {
  content: "-  "
}

.lst-kix_g6nephsj5adi-7>li:before {
  content: "-  "
}

ul.lst-kix_6cjitlt9fs61-8 {
  list-style-type: none
}

ol.lst-kix_gb58ikjti06x-2 {
  list-style-type: none
}

ul.lst-kix_6cjitlt9fs61-5 {
  list-style-type: none
}

.lst-kix_g6nephsj5adi-2>li:before {
  content: "-  "
}

ol.lst-kix_gb58ikjti06x-3 {
  list-style-type: none
}

ul.lst-kix_6cjitlt9fs61-4 {
  list-style-type: none
}

ol.lst-kix_gb58ikjti06x-0 {
  list-style-type: none
}

ul.lst-kix_6cjitlt9fs61-7 {
  list-style-type: none
}

.lst-kix_g6nephsj5adi-3>li:before {
  content: "-  "
}

ol.lst-kix_gb58ikjti06x-1 {
  list-style-type: none
}

ul.lst-kix_6cjitlt9fs61-6 {
  list-style-type: none
}

ul.lst-kix_6cjitlt9fs61-1 {
  list-style-type: none
}

.lst-kix_g6nephsj5adi-4>li:before {
  content: "-  "
}

ul.lst-kix_6cjitlt9fs61-0 {
  list-style-type: none
}

ul.lst-kix_6cjitlt9fs61-3 {
  list-style-type: none
}

ul.lst-kix_6cjitlt9fs61-2 {
  list-style-type: none
}

ol.lst-kix_gb58ikjti06x-8 {
  list-style-type: none
}

ol.lst-kix_gb58ikjti06x-6 {
  list-style-type: none
}

.lst-kix_gb58ikjti06x-5>li {
  counter-increment: lst-ctn-kix_gb58ikjti06x-5
}

ol.lst-kix_gb58ikjti06x-7 {
  list-style-type: none
}

ol.lst-kix_gb58ikjti06x-4 {
  list-style-type: none
}

ol.lst-kix_gb58ikjti06x-5 {
  list-style-type: none
}

.lst-kix_g6nephsj5adi-1>li:before {
  content: "-  "
}

.lst-kix_g6nephsj5adi-0>li:before {
  content: "-  "
}

.lst-kix_6cjitlt9fs61-4>li:before {
  content: "-  "
}

.lst-kix_6cjitlt9fs61-5>li:before {
  content: "-  "
}

.lst-kix_6cjitlt9fs61-3>li:before {
  content: "-  "
}

.lst-kix_6cjitlt9fs61-7>li:before {
  content: "-  "
}

ul.lst-kix_ruoammf9pqdl-8 {
  list-style-type: none
}

ul.lst-kix_ruoammf9pqdl-6 {
  list-style-type: none
}

ul.lst-kix_ruoammf9pqdl-7 {
  list-style-type: none
}

ul.lst-kix_ruoammf9pqdl-4 {
  list-style-type: none
}

ul.lst-kix_ruoammf9pqdl-5 {
  list-style-type: none
}

ul.lst-kix_ruoammf9pqdl-2 {
  list-style-type: none
}

ul.lst-kix_ruoammf9pqdl-3 {
  list-style-type: none
}

.lst-kix_6cjitlt9fs61-6>li:before {
  content: "-  "
}

ul.lst-kix_ruoammf9pqdl-0 {
  list-style-type: none
}

ol.lst-kix_gb58ikjti06x-0.start {
  counter-reset: lst-ctn-kix_gb58ikjti06x-0 0
}

ul.lst-kix_ruoammf9pqdl-1 {
  list-style-type: none
}

.lst-kix_6cjitlt9fs61-8>li:before {
  content: "-  "
}

.lst-kix_gb58ikjti06x-3>li {
  counter-increment: lst-ctn-kix_gb58ikjti06x-3
}

ol.lst-kix_gb58ikjti06x-6.start {
  counter-reset: lst-ctn-kix_gb58ikjti06x-6 0
}

ul.lst-kix_g6nephsj5adi-0 {
  list-style-type: none
}

.lst-kix_6cjitlt9fs61-0>li:before {
  content: "-  "
}

ul.lst-kix_g6nephsj5adi-1 {
  list-style-type: none
}

ul.lst-kix_g6nephsj5adi-2 {
  list-style-type: none
}

.lst-kix_6cjitlt9fs61-1>li:before {
  content: "-  "
}

ul.lst-kix_g6nephsj5adi-3 {
  list-style-type: none
}

ul.lst-kix_g6nephsj5adi-4 {
  list-style-type: none
}

ul.lst-kix_g6nephsj5adi-5 {
  list-style-type: none
}

ul.lst-kix_g6nephsj5adi-6 {
  list-style-type: none
}

ul.lst-kix_g6nephsj5adi-7 {
  list-style-type: none
}

ul.lst-kix_g6nephsj5adi-8 {
  list-style-type: none
}

.lst-kix_6cjitlt9fs61-2>li:before {
  content: "-  "
}

.lst-kix_kvdv62x69okq-3>li:before {
  content: "-  "
}

.lst-kix_kvdv62x69okq-1>li:before {
  content: "-  "
}

.lst-kix_ra4ix9ixq384-0>li:before {
  content: "-  "
}

.lst-kix_kvdv62x69okq-7>li:before {
  content: "-  "
}

.lst-kix_ra4ix9ixq384-2>li:before {
  content: "-  "
}

.lst-kix_ra4ix9ixq384-6>li:before {
  content: "-  "
}

.lst-kix_kvdv62x69okq-5>li:before {
  content: "-  "
}

.lst-kix_ra4ix9ixq384-4>li:before {
  content: "-  "
}

.lst-kix_ho9s3sdetw6n-5>li:before {
  content: "-  "
}

.lst-kix_ho9s3sdetw6n-7>li:before {
  content: "-  "
}

.lst-kix_gb58ikjti06x-0>li:before {
  content: ""counter(lst-ctn-kix_gb58ikjti06x-0, decimal) ". "
}

.lst-kix_ho9s3sdetw6n-1>li:before {
  content: "-  "
}

.lst-kix_gb58ikjti06x-8>li {
  counter-increment: lst-ctn-kix_gb58ikjti06x-8
}

.lst-kix_gb58ikjti06x-2>li:before {
  content: ""counter(lst-ctn-kix_gb58ikjti06x-2, lower-roman) ". "
}

.lst-kix_gb58ikjti06x-8>li:before {
  content: ""counter(lst-ctn-kix_gb58ikjti06x-8, lower-roman) ". "
}

.lst-kix_gb58ikjti06x-4>li:before {
  content: ""counter(lst-ctn-kix_gb58ikjti06x-4, lower-latin) ". "
}

.lst-kix_ho9s3sdetw6n-3>li:before {
  content: "-  "
}

.lst-kix_gb58ikjti06x-6>li:before {
  content: ""counter(lst-ctn-kix_gb58ikjti06x-6, decimal) ". "
}

.lst-kix_gb58ikjti06x-7>li {
  counter-increment: lst-ctn-kix_gb58ikjti06x-7
}

.lst-kix_gb58ikjti06x-1>li {
  counter-increment: lst-ctn-kix_gb58ikjti06x-1
}

ul.lst-kix_hqx8paee5ye5-0 {
  list-style-type: none
}

ul.lst-kix_hqx8paee5ye5-2 {
  list-style-type: none
}

ul.lst-kix_hqx8paee5ye5-1 {
  list-style-type: none
}

ul.lst-kix_hqx8paee5ye5-4 {
  list-style-type: none
}

ul.lst-kix_hqx8paee5ye5-3 {
  list-style-type: none
}

ul.lst-kix_hqx8paee5ye5-6 {
  list-style-type: none
}

ul.lst-kix_ho9s3sdetw6n-8 {
  list-style-type: none
}

.lst-kix_hqx8paee5ye5-2>li:before {
  content: "-  "
}

ul.lst-kix_hqx8paee5ye5-5 {
  list-style-type: none
}

ul.lst-kix_ho9s3sdetw6n-7 {
  list-style-type: none
}

ul.lst-kix_hqx8paee5ye5-8 {
  list-style-type: none
}

ul.lst-kix_ho9s3sdetw6n-6 {
  list-style-type: none
}

ul.lst-kix_hqx8paee5ye5-7 {
  list-style-type: none
}

ul.lst-kix_ho9s3sdetw6n-5 {
  list-style-type: none
}

ul.lst-kix_ho9s3sdetw6n-4 {
  list-style-type: none
}

.lst-kix_hqx8paee5ye5-4>li:before {
  content: "-  "
}

ul.lst-kix_ho9s3sdetw6n-3 {
  list-style-type: none
}

ul.lst-kix_ho9s3sdetw6n-2 {
  list-style-type: none
}

ul.lst-kix_ho9s3sdetw6n-1 {
  list-style-type: none
}

ul.lst-kix_ho9s3sdetw6n-0 {
  list-style-type: none
}

.lst-kix_vdec2ozezoo7-0>li:before {
  content: "-  "
}

.lst-kix_ra4ix9ixq384-8>li:before {
  content: "-  "
}

.lst-kix_vdec2ozezoo7-2>li:before {
  content: "-  "
}

.lst-kix_hqx8paee5ye5-0>li:before {
  content: "-  "
}

.lst-kix_vdec2ozezoo7-6>li:before {
  content: "-  "
}

.lst-kix_vdec2ozezoo7-4>li:before {
  content: "-  "
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c3 {
  margin-left: 36pt;
  padding-top: 8pt;
  padding-left: 0pt;
  padding-bottom: 5pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c10 {
  margin-left: 72pt;
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-right: 72pt
}

.c18 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c13 {
  margin-left: 72pt;
  padding-top: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-right: 72pt
}

.c16 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 5pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c21 {
  margin-left: 36pt;
  padding-top: 12pt;
  padding-left: 0pt;
  padding-bottom: 5pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c23 {
  padding-top: 18pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center;
  height: 16pt
}

.c29 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c11 {
  padding-top: 0pt;
  text-indent: 36pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c34 {
  padding-top: 18pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c22 {
  padding-top: 8pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c17 {
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c33 {
  padding-top: 18pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c4 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 2.0;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c30 {
  padding-top: 0pt;
  padding-bottom: 5pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c14 {
  -webkit-text-decoration-skip: none;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 17pt;
  font-style: normal
}

.c6 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c24 {
  padding-top: 4pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c7 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c19 {
  padding-top: 4pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c9 {
  font-size: 24pt;
  font-family: "Lora";
  color: #434343;
  font-weight: 400
}

.c20 {
  -webkit-text-decoration-skip: none;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 18pt
}

.c38 {
  color: #434343;
  font-weight: 400;
  font-size: 16pt;
  font-family: "Arial"
}

.c2 {
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal
}

body {
  max-width: 100vw;
  padding: 5vw;
  background-color: #f2eecf;
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M82.42 180h-1.415L0 98.995v-2.827L6.167 90 0 83.833V81.004L81.005 0h2.827L90 6.167 96.167 0H98.996L180 81.005v2.827L173.833 90 180 96.167V98.996L98.995 180h-2.827L90 173.833 83.833 180H82.42zm0-1.414L1.413 97.58 8.994 90l-7.58-7.58L82.42 1.413 90 8.994l7.58-7.58 81.006 81.005-7.58 7.58 7.58 7.58-81.005 81.006-7.58-7.58-7.58 7.58zM175.196 0h-25.832c1.033 2.924 2.616 5.59 4.625 7.868C152.145 9.682 151 12.208 151 15c0 5.523 4.477 10 10 10 1.657 0 3 1.343 3 3v4h16V0h-4.803c.51.883.803 1.907.803 3 0 3.314-2.686 6-6 6s-6-2.686-6-6c0-1.093.292-2.117.803-3h10.394-13.685C161.18.938 161 1.948 161 3v4c-4.418 0-8 3.582-8 8s3.582 8 8 8c2.76 0 5 2.24 5 5v2h4v-4h2v4h4v-4h2v4h2V0h-4.803zm-15.783 0c-.27.954-.414 1.96-.414 3v2.2c-1.25.254-2.414.74-3.447 1.412-1.716-1.93-3.098-4.164-4.054-6.612h7.914zM180 17h-3l2.143-10H180v10zm-30.635 163c-.884-2.502-1.365-5.195-1.365-8 0-13.255 10.748-24 23.99-24H180v32h-30.635zm12.147 0c.5-1.416 1.345-2.67 2.434-3.66l-1.345-1.48c-1.498 1.364-2.62 3.136-3.186 5.14H151.5c-.97-2.48-1.5-5.177-1.5-8 0-12.15 9.84-22 22-22h8v30h-18.488zm13.685 0c-1.037-1.793-2.976-3-5.197-3-2.22 0-4.16 1.207-5.197 3h10.394zM0 148h8.01C21.26 148 32 158.742 32 172c0 2.805-.48 5.498-1.366 8H0v-32zm0 2h8c12.15 0 22 9.847 22 22 0 2.822-.53 5.52-1.5 8h-7.914c-.567-2.004-1.688-3.776-3.187-5.14l-1.346 1.48c1.09.99 1.933 2.244 2.434 3.66H0v-30zm15.197 30c-1.037-1.793-2.976-3-5.197-3-2.22 0-4.16 1.207-5.197 3h10.394zM0 32h16v-4c0-1.657 1.343-3 3-3 5.523 0 10-4.477 10-10 0-2.794-1.145-5.32-2.992-7.134C28.018 5.586 29.6 2.924 30.634 0H0v32zm0-2h2v-4h2v4h4v-4h2v4h4v-2c0-2.76 2.24-5 5-5 4.418 0 8-3.582 8-8s-3.582-8-8-8V3c0-1.052-.18-2.062-.512-3H0v30zM28.5 0c-.954 2.448-2.335 4.683-4.05 6.613-1.035-.672-2.2-1.16-3.45-1.413V3c0-1.04-.144-2.046-.414-3H28.5zM0 17h3L.857 7H0v10zM15.197 0c.51.883.803 1.907.803 3 0 3.314-2.686 6-6 6S4 6.314 4 3c0-1.093.292-2.117.803-3h10.394zM109 115c-1.657 0-3 1.343-3 3v4H74v-4c0-1.657-1.343-3-3-3-5.523 0-10-4.477-10-10 0-2.793 1.145-5.318 2.99-7.132C60.262 93.638 58 88.084 58 82c0-13.255 10.748-24 23.99-24h16.02C111.26 58 122 68.742 122 82c0 6.082-2.263 11.636-5.992 15.866C117.855 99.68 119 102.206 119 105c0 5.523-4.477 10-10 10zm0-2c-2.76 0-5 2.24-5 5v2h-4v-4h-2v4h-4v-4h-2v4h-4v-4h-2v4h-4v-4h-2v4h-4v-2c0-2.76-2.24-5-5-5-4.418 0-8-3.582-8-8s3.582-8 8-8v-4c0-2.64 1.136-5.013 2.946-6.66L72.6 84.86C70.39 86.874 69 89.775 69 93v2.2c-1.25.254-2.414.74-3.447 1.412C62.098 92.727 60 87.61 60 82c0-12.15 9.84-22 22-22h16c12.15 0 22 9.847 22 22 0 5.61-2.097 10.728-5.55 14.613-1.035-.672-2.2-1.16-3.45-1.413V93c0-3.226-1.39-6.127-3.6-8.14l-1.346 1.48C107.864 87.987 109 90.36 109 93v4c4.418 0 8 3.582 8 8s-3.582 8-8 8zM90.857 97L93 107h-6l2.143-10h1.714zM80 99c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm20 0c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6z' fill='%23f0ace7' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-attachment: fixed;
}

.c5 {
  font-family: "Lora";
  color: #262626;
  font-weight: 700
}

.c36 {
  -webkit-text-decoration-skip: none;
  text-decoration: underline;
  text-decoration-skip-ink: none
}

.c0 {
  font-family: "Lora";
  color: #262626;
  font-weight: 400
}

.c8 {
  text-decoration: none;
  vertical-align: baseline;
  font-style: italic
}

.c28 {
  vertical-align: baseline;
  font-style: normal
}

.c27 {
  page-break-after: avoid;
  height: 16pt
}

.c31 {
  margin-left: 36pt;
  padding-left: 0pt
}

.c25 {
  padding: 0;
  margin: 0
}

.c12 {
  /* text-indent: 36pt */
}

.c1 {
  font-size: 11pt
}

.c32 {
  page-break-after: avoid
}

.c35 {
  height: 11pt
}

.c15 {
  font-size: 24pt
}

.c37 {
  font-size: 17pt
}

.c39 {
  font-style: italic
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
